<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="datalae/layout">
<head>
 	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>DataLAE</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>DataLAE</h1>
		<hr />
		<div class="row">
			<a th:href="@{/projetos}" class="btn btn-default btn-lg btn-block" style="background-color: #1d1d1d; color: white;">Projetos</a>
			<a th:href="@{/locais}" class="btn btn-default btn-lg btn-block" style="background-color: #1d1d1d; color: white;">Locais</a>
			<a th:href="@{/viagens}" class="btn btn-default btn-lg btn-block" style="background-color: #1d1d1d; color: white;">Viagens</a>
			<a th:href="@{/pesquisadores}" class="btn btn-default btn-lg btn-block" style="background-color: #1d1d1d; color: white;">Pesquisadores</a>
			<a th:href="@{/arquivos}" class="btn btn-default btn-lg btn-block" style="background-color: #1d1d1d; color: white;">Arquivos</a>
		</div>
	</div>
</body>
</html>