<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="dataest/layout">
<head>
 	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>DataLAE</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Buscar Locais</h1>
		<hr />
		
		<form th:method="post" th:object="${filtro}">
			<input type="hidden" th:field="*{codigo}" />
			<div class="form-group">
				<label for="nome">Nome</label> 
				<input id="nome" name="nome" type="text" class="form-control" th:field="*{nome}" />
			</div>
			
			<div class="form-group">
				<label for="cidade">Cidade</label> 
				<input id="cidade" name="cidade" type="text" class="form-control" th:field="*{cidade}" />
			</div>
			
			<div class="form-group">
				<label for="estado">Estado</label> 
				<input id="estado" name="estado" type="text" class="form-control" th:field="*{estado}" />
			</div>

			<a th:href="@{/locais}" class="btn btn-default">Voltar</a>
			<button type="submit" class="btn btn-success">Buscar</button>
		</form>
		
		<hr />
		<h2>Resultados</h2>
		
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th> 
					<th>Cidade</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="local : ${locais}">
					<td th:text="${local.nome}"></td>
					<td th:text="${local.cidade}"></td>
					<td th:text="${local.estado}"></td>
					<td>
						<a th:href="@{/locais/{id}/editar (id = ${local.codigo})}" class="btn btn-primary">Editar</a>
						<a th:href="@{/locais/{id}/apagar (id = ${local.codigo})}" class="btn btn-danger">Apagar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>