<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
 	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>DataLAE</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Viagens</h1>
		<hr />
		<a th:href="@{/viagens/cadastrar}" class="btn btn-success" style="float:right;">Nova Viagem</a>
		
		<table class="table">
			<thead>
				<tr>
					<th>Local</th>
					<th>Projeto</th>
					<th>Data de Início</th> 
					<th>Data de Término</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="viagem : ${viagens}">
					<td th:text="${viagem.local} == null ? '-' : ${viagem.local.nome}"></td>
					<td th:text="${viagem.projeto} == null? '-' : ${viagem.projeto.nome}"></td>
					<td th:text="${viagem.inicio}"></td>
					<td th:text="${viagem.fim}"></td>
					<td>
						<a th:href="@{/viagens/{id}/editar (id = ${viagem.id})}" class="btn btn-primary">Editar</a>
						<a th:href="@{/viagens/{id}/apagar (id = ${viagem.id})}" class="btn btn-danger">Apagar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>