<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="dataae/layout">
<head>
 	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>DataAE</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Projetos</h1>
		<hr />
		<div class="container row">
			<a th:href="@{/projetos/cadastrar}" class="btn btn-success" style="float:right; margin-left: 10px;">Novo Projeto</a>
			<a th:href="@{/projetos/buscar}" class="btn btn-primary" style="float:right;" >Buscar Projetos</a>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Financiador</th>
					<th>Data de Início</th>
					<th>Data de Término</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="projeto : ${projetos}">
					<td th:text="${projeto.nome}"></td>
					<td th:text="${projeto.financiador}"></td>
					<td th:text="${projeto.dataInicio}"></td>
					<td th:text="${projeto.dataFim}"></td>
					<td>
						<a th:href="@{/projetos/{id}/detalhes (id = ${projeto.codigo})}" class="btn btn-success">Detalhes</a>
						<a th:href="@{/projetos/{id}/editar (id = ${projeto.codigo})}" class="btn btn-primary">Editar</a>
						<a th:href="@{/projetos/{id}/apagar (id = ${projeto.codigo})}" class="btn btn-danger">Apagar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>