<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="dataae/layout">
<head>
 	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>DataAE</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Buscar Máquinas</h1>
		<hr />
		
		<form th:method="post" th:object="${filtro}">
			<div class="form-group">
				<label for="nome">Nome</label> 
				<input id="nome" name="nome" type="text" class="form-control" th:field="*{nome}" />
			</div>
			
			<div class="form-group">
				<label for="ip">Endereço IP</label> 
				<input id="ip" name="ip" type="text" class="form-control" th:field="*{ip}" />
			</div>
			
			<div class="form-group">
				<label for="modelo">Modelo</label> 
				<input id="modelo" name="modelo" type="text" class="form-control" th:field="*{modelo}" />
			</div>
			
			<div class="form-group">
				<label for="estaMontada">Está Montada</label> 
				<input id="estaMontada" name="estaMontada" type="text" class="form-control" th:field="*{estaMontada}" />
			</div>
			
			<a th:href="@{/maquinas}" class="btn btn-default">Voltar</a>
			<button type="submit" class="btn btn-success">Salvar</button>
		</form>
		
		<hr />
		<h2>Resultados</h2>
		
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Endereço IP</th>
					<th>Modelo</th>
					<th>Está Montada</th>
					<th>Observação</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="maquina : ${maquinas}">
					<td th:text="${maquina.nome}"></td>
					<td th:text="${maquina.ip}"></td>
					<td th:text="${maquina.modelo}"></td>
					<td th:text="${maquina.estaMontada}"></td>
					<td th:text="${maquina.oservacao}"></td>
					<td>
						<a th:href="@{/maquinas/{id}/editar (id = ${maquina.codigo})}" class="btn btn-primary">Editar</a>
						<a th:href="@{/maquinas/{id}/apagar (id = ${maquina.codigo})}" class="btn btn-danger">Apagar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>