<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="dataest/layout">
<head>
 	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>DataEST</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Pesquisas</h1>
		<hr />
		<div class="container row">
			<a th:href="@{/pesquisas/cadastrar}" class="btn btn-success" style="float:right; margin-left: 10px;">Nova Pesquisa</a>
			<a th:href="@{/pesquisas/buscar}" class="btn btn-primary" style="float:right;" >Buscar Pesquisas</a>
		</div>
		
		<table class="table">
			<thead>
				<tr>
					<th>Local</th>
					<th>Projeto</th>
					<th>Data de Início</th> 
					<th>Data de Término</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pesquisa : ${pesquisas}">
					<td th:text="${pesquisa.area} == null ? '-' : (${pesquisa.area.nome} == null ? '-' : ${pesquisa.area.nome})"></td>
					<td th:text="${pesquisa.projeto} == null? '-' : (${pesquisa.projeto.nome} == null ? '-' : ${pesquisa.projeto.nome})"></td>
					<td th:text="${pesquisa.dataInicio}"></td>
					<td th:text="${pesquisa.dataTermino}"></td>
					<td>
						<a th:href="@{/pesquisas/{id}/editar (id = ${pesquisa.codigo})}" class="btn btn-primary">Editar</a>
						<a th:href="@{/pesquisas/{id}/apagar (id = ${pesquisa.codigo})}" class="btn btn-danger">Apagar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>